/* Annabel Droste */

/* .axis{
	stroke: black;
	fill: none;
} */

.bars{
	fill:blue;
}

.barchartspecies rect{
	fill: #00CC00;
}

.barchartgenus rect{
	fill: #009900;
}

.barchartdiv rect{
	fill: orange;
}

#dropdown, #map_species {
	display: inline-block;
	vertical-align: top;
}

#introduction{
	text-align: center;
	color: #000033;
	font-weight: bold;
	background-image: url("img/birdflight3.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#visuals{
	background-color: #FFFFCC;
}

h1{
	color: #000099 !important;
}

.axis{
	fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
	shape-rendering: crispEdges;
}