/* 
* Annabel Droste 
* Stylesheet
*/

.barchartspecies rect{
	fill: #00CC00;
}

.barchartgenus rect{
	fill: #009900;
}

.barchartdiv rect{
	fill: orange;
}

#dropdown, #map_species {
	display: inline-block;
	vertical-align: top;
}

#wrapper{
	position: relative;
}

#introduction{
	position: relative;
	text-align: center;
	color: #000033;
	font-weight: bold;
}

#backgroundIntro{
	width: 100%;
	bottom: 0;
	position: absolute;
	top: 0;
	background-image: url("img/birdflight3.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.5;
}

#backgroundColor{
	background-color: #FFFFC9;
}

.speciesVisualisation, 
.barcharts{
	width: 95% !important;
	margin: auto !important;
}

#map{
	position: relative; 
	width: 560px; 
	height: 420px;
	margin: auto;
}

#map_species{
	position: relative; 
	width: 320px; 
	height: 240px;
}

h1{
	color: #000099 !important;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

